@model IEnumerable<ecom.Models.Product>

@{
    var cat = (Category?)ViewData["Category"];
    var subcategories = (List<SubCategory>?)ViewData["Subcategories"];
    
    var head = new object();
    ViewData["Title"] = cat?.DisplayName + " - Aukcije BiH";
    if(ViewData["Subcategory"] != null)
    {
        var sub = (SubCategory?)ViewData["Subcategory"];
        ViewData["Title"] = sub?.Name + " - Aukcije BiH";
        head = sub?.Name;
    }
    else
    {
        head = cat?.DisplayName;
    }
    var cnt = @Model.Count();
}

<style>
    .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.1s;
    }
    .card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    a{
        text-decoration: none;
    }
</style>

<h4>Predmeti - @head</h4>

<p>
    <a asp-action="Create">Create New, count: @cnt</a>
</p>

@if(subcategories != null)
{
    <div class="row col-md-12" style="padding: 15px;">
    @foreach(var item in subcategories)
    {
        <div class="card col-md-3" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex;">
            <a asp-controller="Products" style="width: 100%; height: 60px; object-fit: cover; object-position: 50% 10%;" asp-action="Index" asp-route-category="@item.ParentCategoryName" asp-route-subcategory="@item.RouteName">@item.Name</a>
        </div>
    }
    </div>
}

<div class="row col-md-12" style="padding: 15px;">
    @foreach(var product in Model)
    {
        <div class="card col-md-5" style="margin: 10px 15px 15px 15px; padding-bottom: 15px; display: flex;">
            <a asp-controller="Products" asp-action="Details" style="width: 100%; height: 60px; object-fit: cover; object-position: 50% 10%;" asp-route-id="@product.ProdGuid">@product.Name</a>
        </div>
    }
</div>