@model IEnumerable<ecom.Models.Product>

@{
    var cat = @Model.FirstOrDefault()?.CategoryId;
    var sub = @Model.FirstOrDefault()?.SubCategoryId;
    var cnt = @Model.Count();
    ViewData["Title"] = "Predmeti " + cat;
}

<h4>Predmeti @cat</h4>

<p>
    <a asp-action="Create">Create New, count: @cnt</a>
</p>

@if(cat == 0)
{
    <div>
        <a asp-controller="predmeti" asp-action="Index" asp-route-category="@cat" asp-route-subcategory="Militarija">Militarija</a>
        <a asp-controller="predmeti" asp-action="Index" asp-route-category="@cat" asp-route-subcategory="Filatelija">Filatelija</a>
        <a asp-controller="predmeti" asp-action="Index" asp-route-category="@cat" asp-route-subcategory="Filumenija">Filumenija</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
